{% extends 'base.html.twig' %}
    {% block content %}
        <table class="table text-center offset-3 col-md-6">
            <thead>
            <tr>
                <th scope="col">Provider</th>
                <th scope="col">Currency</th>
                <th scope="col">Value</th>
                <th scope="col">Updated At</th>
            </tr>
            </thead>
            <tbody>

            {% for currency in currencies %}
                <tr>
                    <td>{{ currency.provider }}</td>
                    <td>{{ currency.currencyType }}</td>
                    <td>{{ currency.value }}</td>
                    <td>{{ currency.time }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endblock %}
